<!DOCTYPE html>
<html XMLS="HTTP://WWWW.THYMELEAF.ORG">
<head th:replace="layout/layout :: head"></head>
<body>
<header th:replace="layout/layout :: header"></header>
	<div class="container">

		<h1 class="text-primary text-center m-3 pb-5">
			<u th:text="${response}"></u>
		</h1>

		<form th:action="@{/edificio/save}" th:object="${edificio}" method="post">
			<h1>PERRO JIJIJIJUPUTA</h1>
			<div class="row">
				<div class="col">
					<input type="text" class="form-control" placeholder="Nombre Edificio" required th:field="*{nombre}" />
				</div>
				<div class="col">
					<input type="text" class="form-control" placeholder="Alias" required th:field="*{alias}" />
				</div>
				<div class="col">
					<input type="submit" class="btn btn-primary" value ="Crear Edificio" />
				</div>
			</div>			
		</form>
	</div>
	<footer th:replace="layout/layout :: footer"></footer>
</body>
</html>