<!DOCTYPE html>
<html xmlns:th="http://wwww.thymeleaf.org">

<body>
	<script type="text/javascript" th:fragment="javaScript">
	
		$(document).ready(function(){
			$("#buscarAcce").autocomplete({
				souerce: function(request, response){
					$.ajax({
						url: "/salas/cargarAccesorios/" + resquest.term,
						dataType: "json",
						data:{
							term: request.term
						},
						success: function(data){
							repsonse($.map(data, function(item){
								return {
									value: item.id,
									label: item.nombre,
									estado: item.estado
								};
							}));
						},
					});
				},
				select : function(event, ui){
					$("#buscarAcce").val(ui.item.label);
					return false;
				}
			});
		});
	
	
	</script>
</body>
</html>