<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org" />
<head th:replace="layout/layout :: head"></head>
<body>
<header th:replace="layout/layout :: header"></header>
	<div class="container">

		<h1 class="text-primary text-center m-3 pb-5">
			<u th:text="${titulo}"></u>
		</h1>

		<form th:action="@{/salas/save}" th:object="${sala}" method="post">
			<h1>ESTO ES EL FORMULARIO DE SALA</h1>
			<div class="row">
				<div class="col">
					<input type="text" class="form-control" th:value="*{edificio.nombre} + ' - '+ *{edificio.alias}" disabled/>
				</div> 
				<div class="col">
					<input type="text" class="form-control" placeholder="Nombre Sala" required th:field="*{nombre}" />
				</div>				
				
				<div class="col">
					<input type="text" class="form-control" placeholder="Capacidad" required th:field="*{capacidadEst}" />
				</div>
				<div class="col">
					<input type="text" class="form-control" placeholder="Accesorio a agregar" required name="buscarAcce" id="buscarAcce" />
				</div>
				
				<div class="col">
					<input type="submit" class="btn btn-primary" value ="Guardar" />
				</div>		
				
			</div>			
		</form>
	</div>

<footer th:replace="layout/layout :: footer"></footer>
<script type="text/javascript" th:replace="sala/autoComplete :: javaScript"></script>
</body>
</html>